@import "../base/basic";


%si-btn-basic {
    @extend %si-border-basic;
    min-width: 80px;
    height: 28px;
    text-align: center;
    box-sizing: border-box;
    padding: 4px 18px 4px 18px;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.si-btn {
    @extend %si-background;
    @extend %si-btn-basic;
    &-default {
        @extend %si-basic-font;
        @extend %si-border;
    }
    &-default:hover {
        color: $si_active_color;
        @extend %si-active-border;
    }
    &-danger {
        @extend %si-danger-border;
        @extend %si-danger-font;
    }
    &-danger:hover {
        background-color: $si_btn_danger_hover_background;
    }
}
.si-btn.si-btn-disabled {
    @extend %si-basic-disabled;
    opacity: .7;
}
.si-btn:hover.si-btn-disabled:hover {
    background-color: $si_bg_color;
}
.si-btn-default:hover.si-btn-disabled:hover {
    @extend %si-basic-font;
    @extend %si-border;
}