@import "../base/input";
@import "../base/panel";
@import "../base/color";

.si-datepicker {
    @extend %si-input-basic;
    position: relative;
    &__input {
        @extend %si-basic-font;
        @extend %si-input-inner-basic;
        @extend %si-border;
        &:hover, &:focus {
            @extend %si-active-border;
        }
    }
    &-panel {
        @extend %si-panel-basic;
        padding: 5px;
        &-function {
            @extend %si-flex-center;
            justify-content: space-between;
            &_btn {
                @extend %si-basic-pointer;
                background-color: transparent;
                outline: none;
                border: none;
                width: 24px;
                &:hover {
                    color: $si_active_color;
                }
            }
            &_pre_year {
                &::before {
                    content: "<<";
                }
            }
            &_pre_month {
                &::before {
                    content: "<";
                }
            }
            &_next_year {
                &::before {
                    content: ">>";
                }
            }
            &_next_month {
                &::before {
                    content: ">";
                }
            }
            &_year, &_month {
                margin: 0px 3px 0px 3px;
            }
        }
    }
}