@import "../base/basic";
@import "../base/color";

.si-freeselector{
    width: 280px;
    &-head {
        @extend %si-border-basic;
        @extend %si-border;
        display: flex;
        flex-wrap: wrap;
        border-radius: 8px;
        width: 100%;
        min-height: 44px;
        box-sizing: border-box;
        padding: 3px 8px 3px 8px;
        &__tag {
            margin: 3px 4px;
            height: 28px;
        }
        &__innerinput {
            height: 28px;
            width: 80px;
            outline: none;
            margin: 3px 4px;
            box-sizing: border-box;
            border: none;
        }
    }
}