@import "./color.scss";

%si-basic-font-size {
    font-size: 14px;
}

%si-border {
    border-color: $si_border_color;
}

%si-active-border {
    border-color: $si_active_color;
}

%si-border-basic {
    @extend %si-border;
    border-width: 1px;
    border-style: solid;
}

%si-background {
    background-color: $si_bg_color;
}

%si-basic-font {
    @extend %si-basic-font-size;
    color: $si_font_color;
}

%si-danger-border {
    border-color: $si_danger_color;
}

%si-danger-font {
    @extend %si-basic-font-size;
    color: $si_danger_color;
}

%si-basic-disabled {
    cursor: not-allowed;
}

%si-basic-pointer {
    cursor: pointer;
}

%si-border-fullradius {
    border-radius: 100px;
}

%si-box-shadow {
    box-shadow: 0px 0px 8px $si_shadow;
}

%si-flex {
    display: flex;
}

%si-flex-center {
    @extend %si-flex;
    align-items: center;
}